.minicart {
    width: 450px;
    position: absolute;
    padding: 30px 15px;
    top: 48px;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(calc(-100% + 40px), 0);
    max-height: 60vh;
    overflow: auto;
    cursor: auto;
}

.minicart::-webkit-scrollbar {
    width: 10px;
}
  
.minicart::-webkit-scrollbar-track {
    background: #EEEEEE;
}
  
.minicart::-webkit-scrollbar-thumb {
    background: #454a50;
    border-radius: 10px;
}
  
.minicart::-webkit-scrollbar-thumb:hover {
    background: #1D1F22;
}

.product-list {
    list-style: none;
}

.cart-item {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.item-content {
    width: 50%;
    margin-bottom: -10px;
    padding-right: 10px;
}

.item-content h1, .item-content h3 {
    font-weight: normal;
    font-size: 18px;
}
 
.item-counter {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.item-counter p {
    font-size: 20px;
}

.item-counter button {
    background: transparent;
    width: min(40px, 3vw);
    height: min(40px, 3vw);
    border: 2px solid #1D1F22;
    line-height: 8px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

.minicart .item-counter button {
    width: 25px;
    height: 25px;
}

.item-counter button:active {
    background-color: #1D1F22;
    color: #FFF;
}

.item-counter input {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 8px 0;
}

.minicart .item-counter input {
    font-size: 18px;
}

.item-counter input:focus {
    outline: none;
}

.item-gallery {
    display: flex;
    width: 30%;
    justify-content: space-between;
    height: fit-content;
}

.item-gallery img {
    width: 80%;
}

.total-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
    font-weight: bold;
}

.minicart-controlls {
    display: flex;
    justify-content: space-between;
}

.cart-button {
    text-decoration: none;
    color: #1D1F22;
    text-transform: uppercase;
    border: 2px solid #1D1F22;
    padding: 5px;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
}

.cart-button:hover {
    background-color: #1D1F22;
    color: #FFF;
}

.success-button {
    width: 49%;
    padding: 10px;
    background-color: #5ECE7B;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: .5s;
    border: 2px solid #5ECE7B;
}

.success-button:hover {
    background-color: #fff;
    color: #5ECE7B;
}

.minicart-title {
    font-weight: normal;
}

.cart-title {
    padding: 40px 0 20px;
    text-transform: uppercase;
}


.cart-list {
    list-style: none;
}

.cart-list .cart-item {
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid #EEEEEE;
}

.cart-list .cart-item:first-child {
    border-top: 2px solid #EEEEEE;
}

.cart-list .cart-item-title {
    font-weight: bold;
}

.swiper {
    position: relative;
    width: 200px;
    height: min(15vw, 200px);
}

.swiper img {
    width: 100%;
    height: 100%;
}

.swiper .controlls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.controlls .left {
    margin-right: 10px;
}

.left, .right {
    cursor: pointer;
    color: #FFF;
    display: inline-block;
    width: min(2vw, 20px);
    height: min(2vw, 20px);
    background-color: #1D1F22;
    text-align: center;
}

.cart-info {
    margin-top: 20px;
    width: 20%;
}

.cart-prop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6px;
}

.cart-value {
    font-weight: bold;
}

.item-price {
    margin-bottom: 10px;
    font-weight: bold;
}

.item-text {
    margin-bottom: 10px;
}

.cart-list .item-price {
    font-weight: bold;
}


.cart.success-button {
    width: 40%;
    max-width: 300px;
    margin-top: 20px;
}

.cart-list .text-attribute, .cart-list .swatch-attribute {
    min-width: 40px;
    height: 40px;
}

.empty {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #1D1F22;
}

.cart.empty {
    margin-top: 30px;
}

.left-arrow {
    border: min(.5vmin, 3px) solid #FFF;
    border-bottom: none;
    border-right: none;
    width: 50%;
    height: 50%;
    display: block;
    transform: rotate(-45deg) translate(20%, 80%);
}

.right-arrow {
    border: min(.5vmin, 3px) solid #FFF;
    border-bottom: none;
    border-right: none;
    width: 50%;
    height: 50%;
    display: block;
    transform: rotate(135deg) translate(10%, -50%);
}

.cart-item .swiper {
    width: 90%;
    height: min(33vw, 350px);
}